body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background-color: white;
}

.container {
    align-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1.25rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.logo{
    width: 9rem;
    background-color: white;
    size: 9rem;
    flex-shrink: 0;
    margin-left: 6rem;
}

.main-nav{
    width: 37.5rem;
    height: 1.5rem;
}

.main-nav > .nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 1rem;
    cursor: grab;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials > .social-link {
    font-size: 1.25rem;;
    text-decoration: none;
    color: black;
    margin-right: 18px;
    cursor: grab;
}

main.container {
    margin-left: 5.6rem;
}

.left-text {
    margin-left: 3rem;
    margin-right: 3rem;
}
.arrow-left {
    margin-right: 1rem;
    width: 3rem;
    display: flex;
}

.arrow-left:hover {
    cursor: grab;
}

.left-text > p {
    font-size: 1.25rem;;
}

.left-text > h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.left-text > button {
    margin-top: 2.5rem;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
}

.right-image {
    display: flex;
    align-items: center;
}

button:hover {
    cursor: grab;
}

.picture {
    width: 44rem;
    height: auto;
    justify-content: center;
    margin-right: 6rem;
}

.arrow-right {
    margin-right: 10px;
    width: 3rem;
    display: flex
}

.arrow-right:hover {
    cursor: grab;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
   background-color: white;
}

.footer-container > button {
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.06rem solid black;
     border: none;
}

.footer-container > button > img {
    width: 1rem;
}


button:hover {
    border: 0.06rem solid black;
}